<header>{{title}}</header>
<main class="main">
  <button [disabled]="disabled" (click)="checkForUpdate()">UPDATE</button> || <button (click)="subscribeToNotifications()">SHOW</button>
  <div #container class="typewriter"></div>
</main>
<aside>
  <ul class="typewriter">
    @for (loremIpsum of loremIpsum$ | async; track loremIpsum) {
      <li>{{ loremIpsum }}</li>
    }
  </ul>
  <ol class="typewriter">
    @for (times of times$ | async; track times) {
      <li>{{ times }}</li>
    }
  </ol>
</aside>
<footer>
  <p>{{version}} © 2024</p>
</footer>
<router-outlet />
